<div>
	<h5 class="mb-3 font-medium">Users</h5>
	<div class="table-inside">
		<table class="order-table table-auto ltMd:responsive">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">Id</span>
					</th>
					<th>
						<span class="text-gray-800">Name</span>
					</th>
					<th>
						<span class="text-gray-800">Email</span>
					</th>
	
					<th>
						<span class="text-gray-800">Role</span>
					</th>
	
					<th>
						<span class="text-gray-800">Password</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of this.users" class="border">
					<td>
						#{{user?.id}}
					</td>
					<td>
						{{user?.name | titlecase }}
					</td>
					<td>
						<span>{{user?.email}}</span>
					</td>
					<td>
						<span>{{(roles.Admin == user?.roles)?"Admin":"User"}}</span>
					</td>
					<td>
							{{ user?.password }}
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<button mat-menu-item>
								<mat-icon>dialpad</mat-icon>
								<span>Details</span>
							</button>
							<button (click)="deleteUser(user)"  mat-menu-item>
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
