
<div class="grid grid-cols-12 gap-4 lg:gap-8">
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">favorite_border</mat-icon>
    <h6>Favorites</h6>
    <div class="count mb-3 mt-5">10</div>
    <a  class="font-semibold" mat-flat-button color="warn" (click)="sendInfo()" >View All</a>
  </div>
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">sync</mat-icon>
    <h6>Number of ongoing orders</h6>
    <div class="count mb-3 mt-5">10</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
  </div>
  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
    <mat-icon class="text-accent mb-5">task_alt</mat-icon>
    <h6>Completed orders</h6>
    <div class="count mb-3 mt-5">10</div>
    <a [routerLink]="'/dashboard/orders'" class="font-semibold" mat-flat-button color="warn">View All</a>
  </div>
</div>



